#vcard-wrapper
  .container
    %section#vcard
      .jumbotron
        .row
          .col-lg-3.col-md-3.col-xs-12.text-center
            = image_tag("joel_headshot.jpg", class: "img-rounded")
          .col-lg-5.col-md-4.col-xs-12.text-center-not-lg.text-center-not-md
            %h2
              Joel C. Doyle
            %p.lead
              Frontend & Backend Web Developer
          .col-lg-4.col-md-5.col-xs-12.text-center-not-md.text-center-not-lg
            .panel
              .panel-body
                %span.glyphicon.glyphicon-home.hidden-xs
                2313 SW 16th St.
                %span.hidden-xs
                  Bentonville, AR
                %span.visible-xs
                  Bentonville, AR
                %br.hidden-xs
                %span.glyphicon.glyphicon-envelope.hidden-xs
                joel.christian.doyle@gmail.com
                %br
                %span.glyphicon.glyphicon-phone
                501.339.8591
                %br
                = fa_icon "facebook-square"
                %a{ href: "http://www.facebook.com/joeldoyle" }
                  facebook
                %br
                = fa_icon "twitter"
                %a{ href: "http://twitter.com/joeldoyle" }
                  twitter
                %br
                = fa_icon "github"
                %a{ href: "http://github.com/joelcdoyle" }
                  github
                %br
                = fa_icon "linkedin"
                %a{ href: "http://www.linkedin.com/pub/joel-doyle/24/19a/a5" }
                  linkedin

    %section#education
      .jumbotron
        .row
          .col-lg-12
            %h2
              Education
            %hr
        .row
          .col-lg-12
            %h3
              University of Central Arkasnas
            %p.lead
              Bachelor's Degree in Computer Science
              %br
              May 2013
    %section#skills
      .jumbotron
        .row
          .col-lg-12
            %h2
              Skills
            %hr
        .row
          .col-lg-4.col-md-4
            .panel.panel-success
              .panel-heading
                %h3.panel-title
                  Front End
              .panel-body
                %strong
                  Markup: 
                HAML/HTML5/Jade/Emblem
                %br
                %strong
                  Style: 
                CSS/SASS/SCSS
                %br
                %strong
                  Responsive Frameworks: 
                Booststrap/Foundation/Skeleton
                %br
                %strong
                  Scripting:
                Javascript/JQuery/Coffeescript
                %br
                %strong
                  Misc:
                Backbone.js

          .col-lg-4.col-md-4
            .panel.panel-warning
              .panel-heading
                %h3.panel-title
                  Back End
              .panel-body
                Ruby/Rails
                %br
                Node/Express/Ember.js
                %br
                Intermediate PHP
                %br
                SQL/Postgresql/MongoDB
                %br
                PHP/XAMP/LAMP Stacks
                %br
                Test-Driven Development

          .col-lg-4.col-md-4
            .panel.panel-danger
              .panel-heading
                %h3.panel-title
                  Misc
              .panel-body
                Git/GitHub
                %br
                Continuous Integration(TravisCI)
                %br
                Heroku
                %br
                Command Line Power User
                %br
                Java/C++/Perl
                %br
                Moderate iOS/Android

    %section#work-history
      .jumbotron
        .row
          .col-lg-12
            %h2
              Work History
            %hr
            .panel.panel-primary
              .panel-heading
                %h3.panel-title
                  RevUnit
              .panel-body
                %a{ href: "http://www.revunit.com" }
                  http://www.revunit.com
                %br
                111 S. Main St.
                Bentonville, AR
                %br
                Web Developer
                %br
                Sept 2013 - Today

            .panel.panel-primary
              .panel-heading
                %h3.panel-title
                  PrivacyStar
              .panel-body
                %a{ href: "http://www.privacystar.com" }
                  http://www.privacystar.com
                %br
                1111 Main St.
                Conway, AR
                %br
                JavaScript UI Implementation
                %br
                Jan 2012 - Sept 2013

            .panel.panel-primary
              .panel-heading
                %h3.panel-title
                  University of Central Arkansas
              .panel-body
                201 S. Donaghey St.
                Conway, AR
                %br
                Teacher Assistant & Assistant Systems Administrator
                %br
                Jan 2010 - Jan 2012

    %section#references
      .jumbotron
        .row
          .col-lg-12
            %h2
              References
            %hr
        .row
          .col-lg-4
            = image_tag("addam.jpg", class: "thumbnail")
            .panel.panel-primary
              .panel-heading
                %h3.panel-title
                  Addam Hardy
              .panel-body
                %a{ href: "http://addamhardy.com" }
                  http://addamhardy.com
                %br
                addam.hardy@gmail.com
                %br
                %br
                Lead Web Developer at 
                %a{ href: "http://www.datarank.com" }
                  Datarank
                %br
                %br
                Addam is my friend and was my mentor at RevUnit. He taught me a lot of what I know today. :)
          .col-lg-4
            = image_tag("michael.jpg", class: "thumbnail")
            .panel.panel-primary
              .panel-heading
                %h3.panel-title
                  Michael Paladino
              .panel-body
                michael@revunit.com
                %br
                %br
                CTO at 
                %a{ href: "http://www.revunit.com" }
                  RevUnit
                %br
                %br
                Michael is my boss at RevUnit.

          .col-lg-4
            = image_tag("rafael.jpg", class: "thumbnail", width: "170px")
            .panel.panel-primary
              .panel-heading
                %h3.panel-title
                  Rafael Aroxa
              .panel-body
                rafael@revunit.com
                %br
                %br
                iOS Developer at 
                %a{ href: "http://www.revunit.com" }
                  RevUnit
                %br
                %br
                Rafael is my coworker at RevUnit, and is an awesome iOS developer.
